		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			width: 1000px;
			position: absolute;
			left: 170px;
		}
	
		}
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);

		}
		
		#content {
			display: flex;
		}
		nav li {
			width: 50px;
			
			list-style-type: none;
			display: inline;
		}
		
		nav li a {
			text-decoration: none;
			color: black;
			font-weight: 900;
			width: 500px;
		}
		nav {
			width: 500px;
			background-color: rgba(255,255,200,0.3);
			margin-left: 10px;
			width: 978px;
		}
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			align-items: baseline;
			width: 650px;
			padding-left: 10px;
			margin-left: 10px;
			padding-right: 10px;
			
		}
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			width: 315px;
			padding-right: 10px;
			padding-left: 10px;
			margin-right: 10px;
		}
		
		body article {
			background-color: rgba(200,200,200,0.6);
		}
		
		header {
						
		}
		h1 {
			text-align: center;
		}
		footer {
			background-color: rgba(255,255,200,0.3);
			width: 978px;
			margin-left: 10px;
			margin-bottom: 10px;
			font-weight: 900;
			text-align: center;
		}
	